<!doctype html>
<html lang="en"class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}<title>Pixels - Interactive Image Processing</title>{% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Great+Vibes|Old+Standard+TT" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600">

    <!-- Add additional CSS and JS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themes.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/grids.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/typography.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/px-header.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/module.css' %}">

    <script src="{% static 'assets/js/utils.js' %}"></script>
</head>

<body class="thm1">
    {% block marquee %}
    <div class="gdr fl h100v vcenter r9010 px">
        <div class="px-hdr ff2">
            <a href="{% url 'index' %}" class="logo pri-0 no-border">PIXELS</a>
            <p class="pri-3">Interactive Image Processing</p>
        </div>
        <p><a href="#mdl-1" class="txt scrl-dwn ff2">&darr; Scroll Down</a></p>
    </div>
    {% endblock %}

    {% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}
    {% block content %}<!-- default content text (typically empty) -->{% endblock %}
    {% block footer %}<!-- insert default footer text for every page -->{% endblock %}
</body>

</html>