{% extends "base-generic.html" %}

{% block content %}
<div id="mdl-1" class="px-mdl gdr fl h100v px r207010">
    <div class="mdl-title-wrp">
        <div class="mdl-title">
            <h2 class="pri-1 ff0 txt-center px-title">Histograms</h2>
            <hr class="hr5">
        </div>
    </div>
    <div class="gdr fl no-pd">
        <div class="gdr thrs no-pd ff3">
            <a href="{% url 'histplt' %}" class="mdl pri-3 no-border">
                <p class="mdl-nm txt-center">Plot</p>
            </a>
            <a href="{% url 'histeq' %}" class="mdl pri-3 no-border">
                <p class="mdl-nm txt-center">Histogram Equalisation</p>
            </a>
            <p></p>
        </div>
    </div>
    <p><a href="#mdl-2" class="txt scrl-dwn ff2">&darr; Scroll Down</a></p>
</div>

<div id="mdl-2" class="px-mdl gdr fl h100v px r207010">
    <div class="mdl-title-wrp">
        <div class="mdl-title">
            <h2 class="pri-1 ff0 txt-center px-title">Image Thresholding</h2>
            <hr class="hr5">
        </div>
    </div>
    <div class="gdr fl no-pd">
        <div class="gdr thrs no-pd ff3">
            <a href="{% url 'globalthresholding' %}" class="mdl pri-3 no-border">
                <p class="mdl-nm txt-center">Global Thresholding</p>
            </a>
            <a href="{% url 'adaptivethresholding' %}" class="mdl pri-3 no-border">
                <p class="mdl-nm txt-center">Adaptive Thresholding</p>
            </a>
            <a href="otsu.html" class="mdl pri-3 no-border">
                <p class="mdl-nm txt-center">Otsu's Binarisation</p>
            </a>
        </div>
    </div>
    <p><a href="#mdl-3" class="txt scrl-dwn ff2">&darr; Scroll Down</a></p>
</div>

<div id="mdl-3" class="px-mdl gdr fl h100v px r207010">
    <div class="mdl-title-wrp">
        <div class="mdl-title">
            <h2 class="pri-1 ff0 txt-center px-title">Smoothing Spatial Filters</h2>
            <hr class="hr5">
        </div>
    </div>
    <div class="gdr fl no-pd">
        <div class="gdr thrs no-pd ff3">
            <a href="{% url 'averaging-filter' %}" class="mdl pri-3 no-border">
                <p class="mdl-nm txt-center">Averaging Filter</p>
            </a>
            <a href="{% url 'gaussian-filter' %}" class="mdl pri-3 no-border">
                <p class="mdl-nm txt-center">Gaussian Filtering</p>
            </a>
            <a href="{% url 'median-filter' %}" class="mdl pri-3 no-border">
                <p class="mdl-nm txt-center">Median Filtering</p>
            </a>
        </div>
        <div class="gdr thrs no-pd ff3">
            <a href="{% url 'bilateral-filter' %}" class="mdl pri-3 no-border">
                <p class="mdl-nm txt-center">Bilateral Filtering</p>
            </a>
            <p></p>
            <p></p>
        </div>
    </div>
    <p><a href="#mdl-4" class="txt scrl-dwn ff2">&darr; Scroll Down</a></p>
</div>

<div id="mdl-4" class="px-mdl gdr fl h100v px r207010">
    <div class="mdl-title-wrp">
        <div class="mdl-title">
            <h2 class="pri-1 ff0 txt-center px-title">Derivatives for Edge Detection</h2>
            <hr class="hr5">
        </div>
    </div>
    <div class="gdr fl no-pd">
        <div class="gdr thrs no-pd ff3">
            <a href="{% url 'sobel-filter' %}" class="mdl pri-3 no-border">
                <p class="mdl-nm txt-center">Sobel Edge Detector</p>
            </a>
            <a href="{% url 'laplacian-filter' %}" class="mdl pri-3 no-border">
                <p class="mdl-nm txt-center">Laplacian</p>
            </a>
            <p></p>
        </div>
    </div>
    <p><a href="#mdl-5" class="txt scrl-dwn ff2">&darr; Scroll Down</a></p>
</div>

<div id="mdl-5" class="px-mdl gdr fl h100v px r207010">
    <div class="mdl-title-wrp">
        <div class="mdl-title">
            <h2 class="pri-1 ff0 txt-center px-title">Morphological Transformations</h2>
            <hr class="hr5">
        </div>
    </div>
    <div class="gdr fl no-pd">
        <div class="gdr thrs no-pd ff3">
            <a href="{% url 'erosion-filter' %}" class="mdl pri-3 no-border">
                <p class="mdl-nm txt-center">Erosion</p>
            </a>
            <a href="{% url 'dilation-filter' %}" class="mdl pri-3 no-border">
                <p class="mdl-nm txt-center">Dilation</p>
            </a>
            <a href="{% url 'opening-filter' %}" class="mdl pri-3 no-border">
                <p class="mdl-nm txt-center">Opening</p>
            </a>
        </div>
        <div class="gdr thrs no-pd ff3">
            <a href="{% url 'closing-filter' %}" class="mdl pri-3 no-border">
                <p class="mdl-nm txt-center">Closing</p>
            </a>
            <a href="{% url 'connected-components' %}" class="mdl pri-3 no-border">
                <p class="mdl-nm txt-center">Connected Componemts</p>
            </a>
            <p></p>
        </div>
    </div>
    <p><a href="#mdl-6" class="txt scrl-dwn ff2">&darr; Scroll Down</a></p>
</div>
{% endblock %}