* {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#connected-component-grid {
    padding: 0px;
    margin: 0 auto;
    border: 2px solid #181818;
}

#connected-component-grid tr td {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    text-align: center;
    border: 1px #eee solid;
}

#connected-component-grid .black {
    background: #000;
    color: #fff;
}

#connected-component-grid .white {
    background: #fff;
    color: #000;
}

/* #connected-component-grid tr:nth-child(2n+1) td:nth-child(2n) {
    background: #9f9f9f;
} */