* {
    margin: 0;
    padding: 0;
}

.connected-component{
    margin-bottom: 60px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

[id^="connected-component"] {
    padding: 0px;
    margin: 0 auto;
    border: 2px solid #181818;
}

[id^="connected-component"] tr td {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    text-align: center;
    border: 1px #eee solid;
}

[id^="connected-component"] .black {
    background: #000;
    color: #fff;
    /*contenteditable:'true';*/
}

[id^="connected-component"] .white {
    background: #fff;
    color: #000;
}

.connected-component .cc__input{
    font-size: 1.25rem;
    border: 1px solid #c8dadf;
    padding: 30px;
    margin: 20px 0;
}

.connected-component .cc__input label{
    margin-right: 20px;
}

.connected-component .cc__fp{
    font-weight: 700;
    color: #e5edf1;
    background-color: #39bfd3;
    display: inline-block;
    padding: 8px 16px;
    font-size: large;
    border: none;
}