.px-hdr {
    box-sizing: border-box;
    margin: 20px 0;
}

.px-hdr .logo {
    margin: 0 auto;
    letter-spacing: 5px;
    animation: typing 1s linear;
    overflow: hidden;
    display: inline-block;
}

.px-hdr.sticky{
    position: fixed;
    display: block;
    width: 100%;
    background-color: mintcream;
    border-bottom: 1px solid aquamarine;
    left: 0;
    top: 0;
    z-index: 9999;
    max-width: none;
    margin: 0;
    padding: 0;
}

.px-hdr.sticky h1{
    display: block;
    margin: 0 auto;
    max-width: 1280px;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}