.px-img {
    overflow: hidden;
    position: relative;
}

.px-img .photo {
    width: 100%;
    transition: transform .5s ease-out;
}

.px-img .txt {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 10%;
    left: 0;
    text-align: center;
    cursor: default;
    background: rgba(255, 255, 255, 0.5);
}