.ff0 {
    font-family: 'Great Vibes', cursive;
}

.ff1 {
    font-family: 'Old Standard TT', serif;
}

.ff2 {
    font-family: 'Didact Gothic', sans-serif;
}

.ff3 {
    font-family: 'Raleway', sans-serif;
}

.px {
    position: relative;
}

.px * {
    color: #4d4c4c;
    font-style: normal;
    background-color: transparent;
}

.px * em,
.px .italics, 
.px .pri-0.italics,
.px .pri-1.italics,
.px .pri-2.italics,
.px .pri-3.italics,
.px .pri-4.italics,
.px .txt.italics,
.px .util.italics{
    font-style: oblique;
}

.px * strong,
.px .bold, 
.px .pri-0.bold,
.px .pri-1.bold,
.px .pri-2.bold,
.px .pri-3.bold,
.px .pri-4.bold,
.px .txt.bold,
.px .util.bold{
    font-weight: bold;
}

.px a {
    display: inline-block;
    border-bottom: 1px dotted;
    text-decoration: none;
    cursor: pointer;
}

.px a:hover {
    border-bottom: 1px solid;
}

.px .no-border {
    border: none;
}

.px .no-border:hover {
    border: none;
}

.px .svg-icon{
    padding: 5px;
    margin: 5px;
}

.px .pri-0 {
    font-size: 32px;
    line-height: 1.19;
    margin-bottom: .3em;
}

.px .pri-1 {
    font-size: 28px;
    line-height: 1.21;
    margin-bottom: .36em;
}

.px .pri-2 {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: .625em;
}

.px .pri-3,
.px .pri-4 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: .75em;
}

.px .txt {
    font-size: 16px;
    line-height: 1.375;
    margin-bottom: .94em;
}

.px .util {
    font-size: 14px;
    line-height: 1.29;
    margin-bottom: .71em;
}

.px .pri-0,
.px .pri-1 {
    font-weight: 200;
}

.px .pri-2,
.px .pri-3,
.px .txt,
.px .util {
    font-weight: 300;
}

.px .hr1,
.px .hr5 {
    border: 0;
    background-color: #ccc;
    color: #ccc;
    font-size: 14px;
    margin-bottom: 1.43em;
}

.px .hr1 {
    height: 1px;
}

.px .hr5 {
    height: 5px;
    box-shadow: 1px 1px 1px 1px grey inset;
}

.px ul.no-bullets {
    list-style-type: none;
}

/* 600px+ */
@media only screen and (min-width:37.5em) {
    .px .pri-0 {
        font-size: 46px;
        line-height: 1.21;
        margin-bottom: .22em;
    }

    .px .pri-1 {
        font-size: 36px;
        line-height: 1.22;
        margin-bottom: .28em;
    }

    .px .pri-2 {
        font-size: 28px;
        line-height: 1.21;
        margin-bottom: .71em;
    }

    .px .pri-3,
    .px .pri-4 {
        font-size: 22px;
        line-height: 1.27;
        margin-bottom: .91em;
    }

    .px .txt {
        line-height: 1.5;
    }
}

/* 768px+ */
@media only screen and (min-width:48em) {
    .px .pri-0 {
        font-size: 64px;
        line-height: 1.19;
        margin-bottom: .16em;
    }

    .px .pri-1 {
        font-size: 46px;
        margin-bottom: .22em;
    }

    .px .pri-2 {
        font-size: 38px;
        margin-bottom: .53em;
    }

    .px .pri-3 {
        font-size: 28px;
        line-height: 1.29;
        margin-bottom: .71em;
    }

    .px .pri-4 {
        font-size: 22px;
        line-height: 1.27;
        margin-bottom: .91em;
    }

    .px .txt {
        font-size: 18px;
        line-height: 1.44;
        margin-bottom: .83em;
    }
}