{% extends "base-generic.html" %}

{% block marquee %}
<div class="gdr fl h100v vcenter r9010 px">
    <div class="px-hdr ff2">
        <div class="px-hdr ff2">
            <h1 class="logo is-sticky pri-0">HISTOGRAM EQUALISATION</h1>
        </div>
    </div>
    <!-- <p><a href="#mdl-1" class="txt scrl-dwn ff2">&darr; Scroll Down</a></p> -->
</div>
{% endblock %}

{% block content %}
<div id="mdl-1" class="px-mdl gdr fl h100v px r1090">
    <div class="mdl-title-wrp">
        <div class="mdl-title">
            {% if uploaded_image_url == None %}<h2 class="pri-1 ff0 px-title">Upload an Image</h2>{% endif %}
            {% if uploaded_image_url %}<h2 class="pri-1 ff0 px-title">Equalised Image</h2>{% endif %}
            <hr class="hr5">
        </div>
    </div>
    <div class="gdr fl no-pd">
        <form method="post" action="{% url 'histeq' %}" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% if uploaded_image_url == None %}
            <div class="gdr hfs no-pd ff1">
                <div class="box box__padding">
                    <div class="box__input">
                        <svg class="box__icon" xmlns="http://www.w3.org/2000/svg" width="50" height="43" viewBox="0 0 50 43">
                            <path d="M48.4 26.5c-.9 0-1.7.7-1.7 1.7v11.6h-43.3v-11.6c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v13.2c0 .9.7 1.7 1.7 1.7h46.7c.9 0 1.7-.7 1.7-1.7v-13.2c0-1-.7-1.7-1.7-1.7zm-24.5 6.1c.3.3.8.5 1.2.5.4 0 .9-.2 1.2-.5l10-11.6c.7-.7.7-1.7 0-2.4s-1.7-.7-2.4 0l-7.1 8.3v-25.3c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v25.3l-7.1-8.3c-.7-.7-1.7-.7-2.4 0s-.7 1.7 0 2.4l10 11.6z" /></svg>
                        <input type="file" name="usr_upload_image" id="file" class="box__file" data-multiple-caption="{count} files selected" />
                        <label for="file"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>
                        <div class="box__im__uploaded px-img" data-scale="2.4"></div>
                    </div>

                    <div class="box__uploading">Uploading&hellip;</div>
                    <div class="box__success">Done!</div>
                    <div class="box__error">Error! <span></span>. <a href="{% url 'histeq' %}" class="box__restart"
                            role="button">Try again!</a></div>
                </div>

                <div class="box__settings">
                    <div class="box__title ff2"><span>EQUALISATION SETTINGS</span></div>
                    <div class="box__config">
                        <label><span>Color Space</span><strong class="box__rangeval"></strong></label>
                        <div class="box__radio">
                            <input type="radio" id="grayscale" name="histogram_type" value="grayscale" checked>
                            <label for="grayscale">Grayscale</label>

                            <input type="radio" id="rgb" name="histogram_type" value="rgb">
                            <label for="rgb">RGB</label>

                            <input type="radio" id="hsv" name="histogram_type" value="hsv">
                            <label for="hsv">HSV</label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="box__button">EQUALISE IMAGE</button>
        </form>
        {% endif %}

        <div class="gdr thrs no-pd">
            <div class="gdr fl no-pd">
                {% if uploaded_image_url %}
                <div>
                    <h3 class="pri-4 ff2 txt-center px-title">Uploaded Image</h3>
                    <div class="px-img" data-scale="2.4">
                        <img class="photo" src="{{ uploaded_image_url }}" alt="User uploded image for Processing"
                            onload="px.utils.generate_zoom_pan_img(this);">
                    </div>
                    <a href="{{ uploaded_image_url }}" target="_blank" class="px-preview-link no-border">
                        <svg class="svg-icon px-preview-icon" width="50px" height="50px" viewBox="0 0 20 20">
                            <path d="M10,6.978c-1.666,0-3.022,1.356-3.022,3.022S8.334,13.022,10,13.022s3.022-1.356,3.022-3.022S11.666,6.978,10,6.978M10,12.267c-1.25,0-2.267-1.017-2.267-2.267c0-1.25,1.016-2.267,2.267-2.267c1.251,0,2.267,1.016,2.267,2.267C12.267,11.25,11.251,12.267,10,12.267 M18.391,9.733l-1.624-1.639C14.966,6.279,12.563,5.278,10,5.278S5.034,6.279,3.234,8.094L1.609,9.733c-0.146,0.147-0.146,0.386,0,0.533l1.625,1.639c1.8,1.815,4.203,2.816,6.766,2.816s4.966-1.001,6.767-2.816l1.624-1.639C18.536,10.119,18.536,9.881,18.391,9.733 M16.229,11.373c-1.656,1.672-3.868,2.594-6.229,2.594s-4.573-0.922-6.23-2.594L2.41,10l1.36-1.374C5.427,6.955,7.639,6.033,10,6.033s4.573,0.922,6.229,2.593L17.59,10L16.229,11.373z"></path>
                        </svg>
                    </a>
                </div>
                {% endif %}

                {% if generated_hist_url %}
                <div>
                    <h3 class="pri-4 txt-center ff2 px-title">Histogram</h3>
                    <div class="px-img">
                        <img class="photo" src="{{ generated_hist_url }}" alt="Histogram of Image">
                    </div>
                    <a href="{{ generated_hist_url }}" target="_blank" class="px-preview-link no-border">
                        <svg class="svg-icon px-preview-icon" width="50px" height="50px" viewBox="0 0 20 20">
                            <path d="M10,6.978c-1.666,0-3.022,1.356-3.022,3.022S8.334,13.022,10,13.022s3.022-1.356,3.022-3.022S11.666,6.978,10,6.978M10,12.267c-1.25,0-2.267-1.017-2.267-2.267c0-1.25,1.016-2.267,2.267-2.267c1.251,0,2.267,1.016,2.267,2.267C12.267,11.25,11.251,12.267,10,12.267 M18.391,9.733l-1.624-1.639C14.966,6.279,12.563,5.278,10,5.278S5.034,6.279,3.234,8.094L1.609,9.733c-0.146,0.147-0.146,0.386,0,0.533l1.625,1.639c1.8,1.815,4.203,2.816,6.766,2.816s4.966-1.001,6.767-2.816l1.624-1.639C18.536,10.119,18.536,9.881,18.391,9.733 M16.229,11.373c-1.656,1.672-3.868,2.594-6.229,2.594s-4.573-0.922-6.23-2.594L2.41,10l1.36-1.374C5.427,6.955,7.639,6.033,10,6.033s4.573,0.922,6.229,2.593L17.59,10L16.229,11.373z"></path>
                        </svg>
                    </a>

                </div>
                {% endif %}
            </div>

            <div class="gdr fl no-pd">
                {% if generated_cnvtim_url %}
                <div>
                    <h3 class="pri-4 ff2 txt-center px-title">Converted Image</h3>
                    <div class="px-img" data-scale="2.4">
                        <img class="photo" src="{{ generated_cnvtim_url }}" alt="User uploded image for Processing"
                            onload="px.utils.generate_zoom_pan_img(this);">
                    </div>
                    <a href="{{ generated_cnvtim_url }}" target="_blank" class="px-preview-link no-border">
                        <svg class="svg-icon px-preview-icon" width="50px" height="50px" viewBox="0 0 20 20">
                            <path d="M10,6.978c-1.666,0-3.022,1.356-3.022,3.022S8.334,13.022,10,13.022s3.022-1.356,3.022-3.022S11.666,6.978,10,6.978M10,12.267c-1.25,0-2.267-1.017-2.267-2.267c0-1.25,1.016-2.267,2.267-2.267c1.251,0,2.267,1.016,2.267,2.267C12.267,11.25,11.251,12.267,10,12.267 M18.391,9.733l-1.624-1.639C14.966,6.279,12.563,5.278,10,5.278S5.034,6.279,3.234,8.094L1.609,9.733c-0.146,0.147-0.146,0.386,0,0.533l1.625,1.639c1.8,1.815,4.203,2.816,6.766,2.816s4.966-1.001,6.767-2.816l1.624-1.639C18.536,10.119,18.536,9.881,18.391,9.733 M16.229,11.373c-1.656,1.672-3.868,2.594-6.229,2.594s-4.573-0.922-6.23-2.594L2.41,10l1.36-1.374C5.427,6.955,7.639,6.033,10,6.033s4.573,0.922,6.229,2.593L17.59,10L16.229,11.373z"></path>
                        </svg>
                    </a>
                </div>
                {% endif %}

                {% if generated_hist_cnvtim_url %}
                <div>
                    <h3 class="pri-4 txt-center ff2 px-title">Histogram</h3>
                    <div class="px-img">
                        <img class="photo" src="{{ generated_hist_cnvtim_url }}" alt="Histogram of Image">
                    </div>
                    <a href="{{ generated_hist_cnvtim_url }}" target="_blank" class="px-preview-link no-border">
                        <svg class="svg-icon px-preview-icon" width="50px" height="50px" viewBox="0 0 20 20">
                            <path d="M10,6.978c-1.666,0-3.022,1.356-3.022,3.022S8.334,13.022,10,13.022s3.022-1.356,3.022-3.022S11.666,6.978,10,6.978M10,12.267c-1.25,0-2.267-1.017-2.267-2.267c0-1.25,1.016-2.267,2.267-2.267c1.251,0,2.267,1.016,2.267,2.267C12.267,11.25,11.251,12.267,10,12.267 M18.391,9.733l-1.624-1.639C14.966,6.279,12.563,5.278,10,5.278S5.034,6.279,3.234,8.094L1.609,9.733c-0.146,0.147-0.146,0.386,0,0.533l1.625,1.639c1.8,1.815,4.203,2.816,6.766,2.816s4.966-1.001,6.767-2.816l1.624-1.639C18.536,10.119,18.536,9.881,18.391,9.733 M16.229,11.373c-1.656,1.672-3.868,2.594-6.229,2.594s-4.573-0.922-6.23-2.594L2.41,10l1.36-1.374C5.427,6.955,7.639,6.033,10,6.033s4.573,0.922,6.229,2.593L17.59,10L16.229,11.373z"></path>
                        </svg>
                    </a>

                </div>
                {% endif %}

            </div>

            <div class="gdr fl no-pd">
                {% if generated_eqim_url %}
                <div>
                    <h3 class="pri-4 ff2 txt-center px-title">Equalised Image</h3>
                    <div class="px-img" data-scale="2.4">
                        <img class="photo" src="{{ generated_eqim_url }}" alt="User uploded image for Processing"
                            onload="px.utils.generate_zoom_pan_img(this);">
                    </div>
                    <a href="{{ generated_eqim_url }}" target="_blank" class="px-preview-link no-border">
                        <svg class="svg-icon px-preview-icon" width="50px" height="50px" viewBox="0 0 20 20">
                            <path d="M10,6.978c-1.666,0-3.022,1.356-3.022,3.022S8.334,13.022,10,13.022s3.022-1.356,3.022-3.022S11.666,6.978,10,6.978M10,12.267c-1.25,0-2.267-1.017-2.267-2.267c0-1.25,1.016-2.267,2.267-2.267c1.251,0,2.267,1.016,2.267,2.267C12.267,11.25,11.251,12.267,10,12.267 M18.391,9.733l-1.624-1.639C14.966,6.279,12.563,5.278,10,5.278S5.034,6.279,3.234,8.094L1.609,9.733c-0.146,0.147-0.146,0.386,0,0.533l1.625,1.639c1.8,1.815,4.203,2.816,6.766,2.816s4.966-1.001,6.767-2.816l1.624-1.639C18.536,10.119,18.536,9.881,18.391,9.733 M16.229,11.373c-1.656,1.672-3.868,2.594-6.229,2.594s-4.573-0.922-6.23-2.594L2.41,10l1.36-1.374C5.427,6.955,7.639,6.033,10,6.033s4.573,0.922,6.229,2.593L17.59,10L16.229,11.373z"></path>
                        </svg>
                    </a>
                </div>
                {% endif %}

                {% if generated_hist_eqim_url %}
                <div>
                    <h3 class="pri-4 txt-center ff2 px-title">Histogram</h3>
                    <div class="px-img">
                        <img class="photo" src="{{ generated_hist_eqim_url }}" alt="Histogram of Image">
                    </div>
                    <a href="{{ generated_hist_eqim_url }}" target="_blank" class="px-preview-link no-border">
                        <svg class="svg-icon px-preview-icon" width="50px" height="50px" viewBox="0 0 20 20">
                            <path d="M10,6.978c-1.666,0-3.022,1.356-3.022,3.022S8.334,13.022,10,13.022s3.022-1.356,3.022-3.022S11.666,6.978,10,6.978M10,12.267c-1.25,0-2.267-1.017-2.267-2.267c0-1.25,1.016-2.267,2.267-2.267c1.251,0,2.267,1.016,2.267,2.267C12.267,11.25,11.251,12.267,10,12.267 M18.391,9.733l-1.624-1.639C14.966,6.279,12.563,5.278,10,5.278S5.034,6.279,3.234,8.094L1.609,9.733c-0.146,0.147-0.146,0.386,0,0.533l1.625,1.639c1.8,1.815,4.203,2.816,6.766,2.816s4.966-1.001,6.767-2.816l1.624-1.639C18.536,10.119,18.536,9.881,18.391,9.733 M16.229,11.373c-1.656,1.672-3.868,2.594-6.229,2.594s-4.573-0.922-6.23-2.594L2.41,10l1.36-1.374C5.427,6.955,7.639,6.033,10,6.033s4.573,0.922,6.229,2.593L17.59,10L16.229,11.373z"></path>
                        </svg>
                    </a>

                </div>
                {% endif %}

            </div>

        </div>
    </div>
</div>

<!-- Add additional CSS and JS in static file -->
{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/px-form.css' %}">
<script src="{% static 'assets/js/FormUpload.js' %}"></script>

{% endblock %}