{% extends "base-generic.html" %}

{% block marquee %}
<div class="gdr fl h100v vcenter r9010 px">
    <div class="px-hdr ff2">
        <a href="{% url 'index' %}" class="logo pri-0 no-border">HISTOGRAM PLOT</a>
        <p class="pri-3">Interactive Image Processing</p>
    </div>
    <p><a href="#mdl-1" class="txt scrl-dwn ff2">&darr; Scroll Down</a></p>
</div>
{% endblock %}

{% block content %}
<div id="mdl-1" class="px-mdl gdr fl h100v px r207010">
    <div class="mdl-title-wrp">
        <div class="mdl-title">
            <h2 class="pri-1 ff0 txt-center px-title">Upload an Image</h2>
            <hr class="hr5">
        </div>
    </div>
    <div class="gdr fl no-pd">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
        </form>

        <p><a href="{% url 'index' %}">Return to home</a></p>
    </div>
    <p><a href="#mdl-2" class="txt scrl-dwn ff2">&darr; Scroll Down</a></p>
</div>
{% endblock %}