{% extends "base-generic.html" %}

{% block marquee %}
<div class="gdr fl h100v vcenter r9010 px">
    <div class="px-hdr ff2">
        <a href="{% url 'index' %}" class="logo pri-0 no-border">MEDIAN FILTER</a>
        <p class="pri-3">Interactive Image Processing</p>
    </div>
    <p><a href="#mdl-1" class="txt scrl-dwn ff2">&darr; Scroll Down</a></p>
</div>
{% endblock %}

{% block content %}
<div id="mdl-1" class="px-mdl gdr fl h100v px r207010">
    <div class="mdl-title-wrp">
        <div class="mdl-title">
            <h2 class="pri-1 ff0 txt-center px-title">Upload an Image</h2>
            <hr class="hr5">
        </div>
    </div>
    <div class="gdr fl no-pd">
        <form method="post" action="{% url 'median-filter' %}" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% if uploaded_image_url == None %}
            <div class="gdr hfs no-pd ff1">
                <div class="box box__padding">
                    <div class="box__input">
                        <svg class="box__icon" xmlns="http://www.w3.org/2000/svg" width="50" height="43" viewBox="0 0 50 43">
                            <path d="M48.4 26.5c-.9 0-1.7.7-1.7 1.7v11.6h-43.3v-11.6c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v13.2c0 .9.7 1.7 1.7 1.7h46.7c.9 0 1.7-.7 1.7-1.7v-13.2c0-1-.7-1.7-1.7-1.7zm-24.5 6.1c.3.3.8.5 1.2.5.4 0 .9-.2 1.2-.5l10-11.6c.7-.7.7-1.7 0-2.4s-1.7-.7-2.4 0l-7.1 8.3v-25.3c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v25.3l-7.1-8.3c-.7-.7-1.7-.7-2.4 0s-.7 1.7 0 2.4l10 11.6z" /></svg>
                        <input type="file" name="usr_upload_image" id="file" class="box__file" data-multiple-caption="{count} files selected" />
                        <label for="file"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>
                    </div>

                    <div class="box__uploading">Uploading&hellip;</div>
                    <div class="box__success">Done!</div>
                    <div class="box__error">Error! <span></span>. <a href="{% url 'median-filter' %}" class="box__restart"
                            role="button">Try again!</a></div>
                </div>

                <div class="box__settings">
                    <div class="box__title ff2"><span>FILTER SETTINGS</span></div>
                    <div class="box__config">
                        <label for="range"><span>Kernel Size</span><strong class="box__rangeval"></strong></label>
                        <div class="box__slider">
                            <input type="range" name="ksize" id="ksize" class="box__range" min="3" value="3" max="25"
                                step="2" />
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="box__button">FILTER IMAGE</button>
        </form>
        {% endif %}

        <div class="gdr hfs no-pd">
            {% if uploaded_image_url %}
            <div class="px-img">
                <img src="{{ uploaded_image_url }}" alt="User uploded image for Processing">
                <p>Image uploaded at: <a href="{{ uploaded_image_url }}">{{ uploaded_image_url }}</a></p>
            </div>
            {% endif %}

            {% if generated_median_url %}
            <div class="px-img">
                <img src="{{ generated_median_url }}" alt="Median Filtered Image">
                <p>Median filtered Image uploaded at: <a href="{{ generated_median_url }}">{{ generated_median_url }}</a></p>
            </div>
            {% endif %}

            <p><a href="{% url 'index' %}">Return to home</a></p>
        </div>
    </div>
    <p><a href="#mdl-2" class="txt scrl-dwn ff2">&darr; Scroll Down</a></p>
</div>

<!-- Add additional CSS and JS in static file -->
{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/px-form.css' %}">
<script src="{% static 'assets/js/FormUpload.js' %}"></script>

{% endblock %}